{{ define "index.tmpl" }}
{{ template "header" }}
<html>
    <style>
        #download_link {
            margin-right: 1em !important;
            text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de;
            -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        }
        #download_link:hover {
            color: #ff0;
            text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff;
        }
        a {
            color: #ff0;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        h1 {
            color: rgb(0 255 169);
        }
        body {
            background: #212529;
        }
        .navbar{
            background:#000;
        }
        .nav-link , .navbar-brand{
            color: #ff0;
            cursor: pointer;
        }
        .nav-link{
            margin-right: 1em !important;
        }
        .navbar-collapse{
        justify-content: center;
        }
        .navbar-toggler{
        background:#fff !important;
        }
        #sizetext {
            size: .5em;
            color: #ff0 !important;
        }
        #datetext {
            size: .5em;
            color: #ff0 !important;
        }
        #namesep {
            border-right: red 2px solid;
            border-style: rounded;
        }
        #sizesep {
            border-right: red 2px solid;

        }
        #datesep {
            border-right: red 2px solid;

        }

    </style>
    <body class="container">
        {{ template "nav" }}
        <div class="container">
            <div class="col-sm-5" id="namesep">
                <h1>
                    Name:
                </h1>
            </div>
            <div class="col-sm-2" id="sizesep">
                <h1>
                    Size(bytes):
                <h1>
            </div>
            <div class="col-sm-4" id="datesep">
                <h1>
                    Time Uploaded:
                </h1>
            </div>
        </div>


        {{ range $file := .files }}
            <div class="container">
                <div class="col-sm-5">
                    <h1>
                        <a id="download_link" href="/download/{{ .Name }}">{{ .Name }}</a><br>
                    </h1>
                </div>
                <div class="col-sm-2" >
                    <h1 id="sizetext">
                        {{ .Size }}<br>
                    <h1>
                </div>
                <div class="col-sm-4">
                    <h1 id="datetext">
                        {{ .ModTime }}<br>
                    </h1>
                </div>
            </div>
        {{ end }}
        
    </body>
</html>
{{ end }}